// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #2e2e2e;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  clear: both;
  margin-bottom: 15px;
}

.restaurant-name {
  display: inline-block;
  padding-right: 15px;
  margin: 5px 15px 5px 0;
  border-right: 1px solid #fff;
}

.restaurant-name a {
  color: #fff;
}

.edit, .delete {
  display: inline-block;
  background: #2e2e2e;
  color: #fff;
  padding: 5px;
  font-size: 0.8em;
  border: 1px solid #fff;
  border-radius: 3px;
  vertical-align: center;
}

.add-restaurant {
  display: inline-block;
  background: #fff;
  color: #2e2e2e;
  padding: 5px;
  font-size: 0.8em;
  border: 1px solid #2e2e2e;
  border-radius: 3px;
}

.restaurant-listing .header {
  background: #2e2e2e;
  padding: 0 15px;
}

.restaurant-listing .body {
  padding: 0 15px;
}
